---
title: Overview
header_title: Aparapi
description: Open-source framework for executing native Java code on the GPU.
---
- content_for :additional_header do
  .row.center
    %a#download-button.btn-large.waves-effect.waves-light{:href => "/introduction/getting-started.html"} Get Started
  .row.center
    %a.red-text.text-lighten-4{:href => "https://github.com/Syncleus/aparapi"} Release v1.3.2
  %br/

- content_for :banner do
  .github-commit
    .container
      .commit
        Latest Commit on Github:
          
        %a.sha{:href => ""}
          
        %span.date
        %a#github-button.btn-flat.right.grey-text.text-lighten-5.waves-effect.waves-light.hide-on-small-only{:href => "https://github.com/Syncleus/aparapi"} Github

.section
  .row
    .col.s12.m8.offset-m2
      %br/
      %img#responsive-img{:src => "images/responsive.png"}/
  .row
    %h3.col.s12.light.center.header Aparapi simplifies life for developers and reduces server costs.
  / Promo Section
  .row
    .col.s12.m4
      .center.promo
        %i.material-icons flash_on
        %p.promo-caption Speeds up development
        %p.light.center We did most of the heavy lifting for you to provide a framework capable of executing native Java code directly on the GPU. No more writing code twice, write once run anywhere.
    .col.s12.m4
      .center.promo
        %i.material-icons attach_money
        %p.promo-caption Save Money on Servers
        %p.light.center By utilizing the GPU to run your algorithms it is possible to acheive speedups hundreds of times that of a CPU alone. This can mean the difference between needing only a single server versus an entire data center.
    .col.s12.m4
      .center.promo
        %i.material-icons settings
        %p.promo-caption Flexible
        %p.light.center The full power and flexibility of OpenCL coding is fully exposed. All the low level calls as well as the ability to manipulate or post kernel files are still accessible to developers.
.divider
.section
  .row.center
    %h3.light.header Aparapi Showcase
    %p.col.s8.offset-s2.caption Checkout what people are creating with Aparapi. Get inspired by these projects and you can even submit your own projects to be showcased here.
    %a.btn-large.waves-effect.waves-light{:href => "showcase.html"} Explore our Showcase