---
title: Showcase
description: Products powered by Aparapi.
---

.container.section
  .row
    .center.col.s12
      %br/
      %br/
      %a.waves-effect.waves-light.btn{:href => "mailto:aparapi@syncleus.com?subject=showcase"} Submit your site
      %br/
      %br/
  %br/
  .row
    .col.s12.m4
      %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Carnivore Pixel", :src => "images/showcase/carnivore_pixel.gif"}
      %h5.center
        %a{:href => "http://edumo.net/wp/carnivore-pixel/", :target => "_blank"} Carnivore Pixel
    .col.s12.m4
      %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "DayFlower Engine", :src => "images/showcase/dayflower_engine.png"}/
      %h5.center
        %a{:href => "http://www.dayflower.org/", :target => "_blank"} DayFlower Engine
    .col.s12.m4
      %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Gaggle Mail", :src => "images/showcase/openrc.png"}/
      %h5.center
        %a{:href => "https://github.com/macroing/OpenRC", :target => "_blank"} Open Ray Caster
  .row
    .col.s12.m4
      %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Nextome", :src => "images/showcase/nextome.jpg"}
      %h5.center
        %a{:href => "http://www.nextome.net/", :target => "_blank"} Nextome

  -#.row
  -#  .col.s12.m4
  -#    %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Fedora Indonesia", :src => "images/showcase/fedora.png"}/
  -#    %h5.center
  -#      %a{:href => "http://fedora.or.id/", :target => "_blank"} Fedora Indonesia
  -#  .col.s12.m4
  -#    %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Emerald", :src => "images/showcase/emerald.jpg"}/
  -#    %h5.center
  -#      %a{:href => "http://emerald.sekizgen.net/", :target => "_blank"} Emerald
  -#  .col.s12.m4
  -#    %img.materialboxed.responsive-img.z-depth-1{"data-caption" => "Caliber", :src => "images/showcase/caliber.png"}/
  -#    %h5.center
  -#      %a{:href => "http://jumpcatch.com/srinivasan/caliber/", :target => "_blank"} Caliber
